Christie Woodside Homework 3

In [10]:
import pandas as pd
import numpy as np

# Create the DataFrame to be reused in all problems
data = {
    'Product': ['A', 'A', 'B', 'B', 'C', 'C', 'D', 'D'],
    'Region': ['East', 'West', 'East', 'West', 'East', 'West', 'East', 'West'],
    'Year': [2020, 2020, 2021, 2021, 2020, 2020, 2021, 2021],
    'Sales': [100, 150, 200, 250, 300, 350, 400, 450],
    'Discount': [10, 15, 20, 25, 30, 35, 40, 45],
    'Profit': [90, 135, 180, 225, 270, 315, 360, 405]
}

df = pd.DataFrame(data)
print(df)

  Product Region  Year  Sales  Discount  Profit
0       A   East  2020    100        10      90
1       A   West  2020    150        15     135
2       B   East  2021    200        20     180
3       B   West  2021    250        25     225
4       C   East  2020    300        30     270
5       C   West  2020    350        35     315
6       D   East  2021    400        40     360
7       D   West  2021    450        45     405

Problem 1: Pivot the DataFrame
Pivot the DataFrame to show the total Sales for each Product across different Regions.

Problem 2: Use groupby to Aggregate Data
Use groupby to calculate the sum of Profit for each Product and Year combination.

In [11]:
p_df = df.pivot_table(values='Sales', index='Product', columns='Region', aggfunc='sum')
print(f'pivoted table of total sales for each product across the regions\n {p_df}')

g_df = df.groupby(['Product','Year'])['Profit'].sum().reset_index()
print(f'\n grouped by product and year to the sum of profit \n{g_df}')

pivoted table of total sales for each product across the regions
 Region   East  West
Product
A         100   150
B         200   250
C         300   350
D         400   450

 grouped by product and year to the sum of profit
  Product  Year  Profit
0       A  2020     225
1       B  2021     405
2       C  2020     585
3       D  2021     765

Problem 3: Stack the DataFrame
Stack the DataFrame by "Product" and "Region". Then display the stacked DataFrame.

Problem 4: Unstack the DataFrame
Unstack the DataFrame to display "Region" in the column index while keeping "Product" as the row index.

In [12]:
df = pd.DataFrame(data) #only way to let me reset the index with no error

s_df = df.set_index(['Product', 'Region']).stack()
#s_df.stack()
print(f'Stacked df by product and region \n{s_df}')

#df = df.set_index(['Product', 'Region'])
#u_df = df.unstack(['Region'])
# u_df = df.set_index(['Product', 'Region']).unstack('Region')
# print(f' unstacked table \n {u_df} ')

Stacked df by product and region
Product  Region
A        East    Year        2020
                 Sales        100
                 Discount      10
                 Profit        90
         West    Year        2020
                 Sales        150
                 Discount      15
                 Profit       135
B        East    Year        2021
                 Sales        200
                 Discount      20
                 Profit       180
         West    Year        2021
                 Sales        250
                 Discount      25
                 Profit       225
C        East    Year        2020
                 Sales        300
                 Discount      30
                 Profit       270
         West    Year        2020
                 Sales        350
                 Discount      35
                 Profit       315
D        East    Year        2021
                 Sales        400
                 Discount      40
                 Profit       360
         West    Year        2021
                 Sales        450
                 Discount      45
                 Profit       405
dtype: int64

In [13]:
u_df = df.set_index(['Product', 'Region']).unstack('Region')
print(f' unstacked table \n {u_df} ')

 unstacked table
          Year       Sales      Discount      Profit
Region   East  West  East West     East West   East West
Product
A        2020  2020   100  150       10   15     90  135
B        2021  2021   200  250       20   25    180  225
C        2020  2020   300  350       30   35    270  315
D        2021  2021   400  450       40   45    360  405

Problem 5: Pivot Table with Aggregation
Create a pivot table showing the mean Discount and the sum of Sales for each combination of Product and Year.

Problem 6: Multi-Index Sorting
Convert the DataFrame to a multi-indexed DataFrame with Product and Region as indices. Sort the DataFrame by Product first and then by Region.

In [14]:
m_df = df.groupby(['Product','Year']).aggregate({'Sales': 'sum', 'Discount': 'mean'})
print(f'agg table of product and year by mean discount and sum of sales \n{m_df}')

s_df= df.set_index(['Product', 'Region']).sort_index()
print(f'Resorting the index from a multi index \n{s_df}')

agg table of product and year by mean discount and sum of sales
              Sales  Discount
Product Year
A       2020    250      12.5
B       2021    450      22.5
C       2020    650      32.5
D       2021    850      42.5
Resorting the index from a multi index
                Year  Sales  Discount  Profit
Product Region
A       East    2020    100        10      90
        West    2020    150        15     135
B       East    2021    200        20     180
        West    2021    250        25     225
C       East    2020    300        30     270
        West    2020    350        35     315
D       East    2021    400        40     360
        West    2021    450        45     405

Problem 7: Selecting Data with Multi-Index
Using the multi-indexed DataFrame from Problem 6, select all data for Product = 'A'.

Problem 8: Stack and Unstack Operations
Perform a stack operation to convert the DataFrame into a stacked format based on the Year and Region. Then, unstack it back, using Year as the column header.

In [15]:
#print(s_df)
p_a_data = s_df.xs('A', level='Product')
print(f'print data for where product = A\n{p_a_data}')

print data for where product = A
        Year  Sales  Discount  Profit
Region
East    2020    100        10      90
West    2020    150        15     135

In [16]:
I = df.set_index(['Year', 'Region']) #easy assignment for recall

#checking for duplicates (common error I got for unstacking the datatable)
duplicates = I.index.duplicated()
print("Duplicates in index:")
print(I.index[duplicates])

n_df = I.select_dtypes(include='number')
I = n_df.groupby(level=['Year', 'Region']).mean()

#stacking the tabel
y_df = I.stack()
#s_df.stack()
print(f'Stacked df by year and region \n{y_df}')

# U_df = y_df.unstack('Region')
# print(f' unstacked table by year \n {U_df} ')

Duplicates in index:
MultiIndex([(2020, 'East'),
            (2020, 'West'),
            (2021, 'East'),
            (2021, 'West')],
           names=['Year', 'Region'])
Stacked df by year and region
Year  Region
2020  East    Sales       200
              Discount     20
              Profit      180
      West    Sales       250
              Discount     25
              Profit      225
2021  East    Sales       300
              Discount     30
              Profit      270
      West    Sales       350
              Discount     35
              Profit      315
dtype: int64

In [17]:
#print(y_df)
#U_df = df.set_index(['Year', 'Region']).unstack('Region')
#Unstacking now works without duplicates
U_df = I.unstack('Region')
print(f' unstacked table by year \n {U_df} ')

 unstacked table by year
        Sales      Discount      Profit
Region  East West     East West   East West
Year
2020     200  250       20   25    180  225
2021     300  350       30   35    270  315

Problem 9: Handling Missing Data
Modify the Sales column by setting some values as NaN (missing). Create a pivot table using Product and Region to find the sum of Sales, and use the fill_value argument to fill missing values with 0.

Problem 10: Group by Multiple Columns
Group the DataFrame by both Product and Region to find the average Profit for each group.

In [18]:
#settings ome random values as NaN
# nan = np.random.choice(1, size = 5, replace=False)
# data[nan] = np.nan
#df.set_index()

# df.loc[5, 'Sales'] = 'nan'
# df.loc[2, 'Sales'] = 'nan'
# df.loc[7, 'Sales'] = 'nan'

df.loc[5, 'Sales'] = np.nan
df.loc[2, 'Sales'] = np.nan
df.loc[7, 'Sales'] = np.nan

p_table = df.pivot_table(values='Sales', index='Product', columns='Region', aggfunc='sum', fill_value=0)

print(f'pivoted table of total sales for each product across the regions\n {p_table}')

g_df = df.groupby(['Product','Region'])['Profit'].mean().reset_index()
print(f'\n grouped by product and region to the average profit for each group \n{g_df}')

pivoted table of total sales for each product across the regions
 Region   East  West
Product
A         100   150
B           0   250
C         300     0
D         400     0

 grouped by product and region to the average profit for each group
  Product Region  Profit
0       A   East      90
1       A   West     135
2       B   East     180
3       B   West     225
4       C   East     270
5       C   West     315
6       D   East     360
7       D   West     405